<?js
    var doc = obj.doc;
    var self = this;
?>

<!--LONGNAME: <?js= doc.longname ?>-->
<a id="top">Top</a>
<header>
  <h1 class="article__title">
    <small><?js= doc.kind ?></small>
    <?js= title ?>
  </h1>

  <?js var hasAncestors = (doc.ancestors && doc.ancestors.length) ?>
  <?js var hasVariation = (doc.variation) ?>

  <?js if(hasAncestors || hasVariation){ ?>
  <h2 class="article__path">

    <?js if (doc.ancestors && doc.ancestors.length) { ?>
      <span class="ancestors"><?js= doc.ancestors.join('') ?></span>
    <?js } ?>

    <?js= doc.name ?>

    <?js if (doc.variation) { ?>
      <sup class="variation"><?js= doc.variation ?></sup>
    <?js } ?>

  </h2>
  <?js } ?>

  <div class="details-mini">
    <?js= self.partial('source-links.tmpl', doc) ?>
  </div>
  
  <?js
    var desc = doc.classdesc || doc.description;
    if (desc){ ?>
    <div class="description"><?js= desc ?></div>
  <?js } ?>

  <?js= self.partial('details.tmpl', doc) ?>

</header>


<?js= self.partial('section-constructor.tmpl', doc) ?>


<?js
  var augments = doc.augments;
  var requires = doc.requires;
?>

<?js= self.partial('section-item-list.tmpl', { items: augments, id: 'augments', title: 'Extends'} ) ?>
<?js= self.partial('section-item-list.tmpl', { items: requires, id: 'requires', title: 'Requires'} ) ?>



<?js
  var classes = self.find({kind: 'class', memberof: doc.longname});
  var modules = self.find({kind: 'module', memberof: doc.longname});
  var mixins = self.find({kind: 'mixin', memberof: doc.longname});
  var namespaces = self.find({kind: 'namespace', memberof: doc.longname});
?>

<div class="big-members">
  <?js= self.partial('section-item-list.tmpl', { items: classes, id: 'classes', title: 'Classes'} ) ?>
  <?js= self.partial('section-item-list.tmpl', { items: modules, id: 'modules', title: 'Modules'} ) ?>
  <?js= self.partial('section-item-list.tmpl', { items: mixins, id: 'mixins', title: 'Mixins'} ) ?>
  <?js= self.partial('section-item-list.tmpl', { items: namespaces, id: 'namespaces', title: 'Namespaces'} ) ?>
</div>

<?js
  var members = self.find({kind: 'member', memberof: doc.longname});
  var methods = self.find({kind: 'function', memberof: doc.longname});
  var events = self.find({kind: 'event', memberof: doc.longname});
  var typedefs = self.find({kind: 'typedef', memberof: doc.longname});
  var examples = doc.examples;
?>

<?js= self.partial('section-members.tmpl', members) ?>
<?js= self.partial('section-methods.tmpl', methods) ?>
<?js= self.partial('section-events.tmpl', events) ?>
<?js= self.partial('section-typedefs.tmpl', typedefs) ?>
<?js= self.partial('section-examples.tmpl', examples) ?>