<?js
  var data = obj || {};
  var doc = obj.doc || {};
  var self = this;
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <?js var pageTitle = ((kind)? kind+': ' : '') + ( title ) + ' - Documentation' ?>
    <title><?js= pageTitle ?></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/isagalaev/highlight.js/cf4b46e5/src/styles/default.css">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>-->
    <!--<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>-->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>

    <script src="scripts/jsdoc.js"></script>
    <link type="text/css" rel="stylesheet" href="styles/prettify.css">

    <link type="text/css" rel="stylesheet" href="styles/jsdoc.css">

</head>
<body class="kind-<?js= kind ?>">

<div class="nav__overlay" onclick="$('body').removeClass('nav-visible');">
</div>

<a class="nav__toggle" href="javascript:$('body').toggleClass('nav-visible');">
  &#x2261;
</a>

<nav>
  
  <form class="search-form">
    <div class="form-group">
      <input
        type="search"
        id="NavSearchInput"
        class="form-control form-control-sm"
        autocomplete="off"
        placeholder="Search..."
      />
    </div>
  </form>

  <?js= this.nav ?>
  
  <footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the <a href="https://github.com/clenemt/docdash">docdash</a> theme.
  </footer>

</nav>

<article>

  <?js if(kind==='tutorial'){ ?>
    <?js= self.partial('tutorial.tmpl', obj) ?>
  <?js }else if(kind === 'mainpage'){ ?>
    <?js= self.partial('mainpage.tmpl', obj) ?>
  <?js }else if(kind === 'globalobj'){ ?>
    <?js= self.partial('global.tmpl', obj) ?>
  <?js }else if(kind === 'source'){ ?>
    <?js= self.partial('source.tmpl', obj) ?>
  <?js }else{ ?>
    <?js= self.partial('container.tmpl', obj) ?>
  <?js } ?>
  
</article>

<script>prettyPrint();</script>
<!--<script src="scripts/linenumber.js"></script>-->
</body>
</html>
