<?js
    var params = obj;
    var self = this;

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        var paramRegExp;

        if (!param) {
            return;
        }

        if (parentParam && parentParam.name && param.name) {
            paramRegExp = new RegExp('^(?:' + parentParam.name + '(?:\\[\\])*)\\.(.+)$');

            if ( paramRegExp.test(param.name) ) {
                param.name = RegExp.$1;
                parentParam.subparams = parentParam.subparams || [];
                parentParam.subparams.push(param);
                params[i] = null;
            }
            else {
                parentParam = param;
            }
        }
        else {
            parentParam = param;
        }
    });

    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }

        if (param.name) {
            params.hasName = true;
        }

        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });

    params.hasAttributes = false;


?>

<?js if(params && params.length && params.forEach){ ?>
<div class="params">
<ul>
<?js
    params.forEach(function(param) {
        if (!param) { return; }
?>

    <li>
      
      <span class="name">
      <code><!--
      <?js var isOptional = (param.optional)? true : false ?>
      <?js if(isOptional){ ?>-->[<!--<?js } ?>
      --><?js= param.name ?><!--
      <?js if (params.hasDefault) {?>
        <?js if (typeof param.defaultvalue !== 'undefined') { ?>
            -->=<?js= self.htmlsafe(param.defaultvalue) ?><!--
        <?js } ?>
      <?js } ?>
      <?js if(isOptional){ ?>-->]<!--<?js } ?>
      --></code>
      </span>
      
      <?js if (param.type && param.type.names) {?>
      <span class="type">
      <code><!--
        --><?js= self.partial('type.tmpl', param.type.names) ?><!--
      --></code>
      </span>
      <?js } ?>
      
      <?js if(param.description){ ?>
      <span class="description">: <?js= param.description ?></span>
      <?js } ?>
      
      <?js if(param.subparams){ ?>
        <?js= self.partial('params.tmpl', param.subparams) ?>
      <?js } ?>
      
    </li>

<?js }); ?>
</ul>
</div>
<?js } ?>