<header>
  
  <h1 class="article__title">
    <small><?js= kind ?></small>
    <?js= title ?>
  </h1>
  
  <?js if (children.length > 0) { ?>
  <ul><?js
      var self = this;
      children.forEach(function(t) { ?>
      <li><?js= self.tutoriallink(t.name) ?></li>
  <?js }); ?></ul>
  <?js } ?>

</header>

<section class="article__content">
    <?js= content ?>
</section>