<div class="form">

  <label>
    <input onchange="$('.--is-private').toggleClass('hidden')" type="checkbox" name="showPrivate" checked="">
    <span>private</span>
  </label>

  <label>
    <input onchange="$('.--is-inherited').toggleClass('hidden')" type="checkbox" name="showInherited" checked="">
    <span>inherited</span>
  </label>

  <label>
    <input onchange="$('.--is-mixed').toggleClass('hidden')" type="checkbox" name="showMixed" checked="">
    <span>mixed</span>
  </label>

</div>