.TOC{
  display: none; /* default hidden */
  position: fixed;
  top: 1.5rem;
  right: 0;
  font-size: .9em;
  color: #99979c;
  border-left: 1px solid #ddd;
  width: 12rem;
  z-index: 1;
  
  a{
    padding: .125rem 3rem .125rem 1.5rem;
    border: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.35;
    
    &:not(:hover){
      color: inherit;
    }
    
  }
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  
    li{
      padding-left: 0 !important;
      
      &.H1{ padding-left: 0em; }
      &.H2{ padding-left: 1em; }
      &.H3{ padding-left: 2em; }
      &.H4{ padding-left: 3em; display: none; }
      &.H5{ padding-left: 4em; display: none; }
      &.H6{ padding-left: 5em; display: none; }
      
    }
    
  }
  
  
}

@media (min-width: 1025px) {

  body:not(.kind-source) article {
    padding-right: 15rem;
  }

  body:not(.kind-source) .TOC{
    display: block;
  }

}